$FontPathOpenSans: "../../fonts/open-sans";
@import "../../../../../../node_modules/npm-font-open-sans/open-sans.scss";
$font-open-sans: 'Open Sans', sans-serif;

$color-transparent-white: rgba(255, 255, 255, 0.9);
$color-box-shadow-black: rgba(black, 0.16);
$color-light-grey: rgb(220, 220, 220);
$color-grey: rgb(125, 125, 125);
$space-vertical: .5em;
$box-shadow: 0 0 16px $color-box-shadow-black;

.horizon-calendar-single {
  font-size: 16px;
  line-height: 1.5;
  height: 100%;
  width: 95%;
  text-align: left;
  font-family: $font-open-sans;
  color: #333;
  padding: 2.5%;
  margin: 0;

  pre {
    font-family: inherit;
    white-space: pre-wrap;
  }

  h1, h2, p {
    padding: 0;
    margin: 0;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  .container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
  .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
  .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
  .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
  .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
  .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .col-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .lead {
    font-size: 1em;
    margin-bottom: 0.5em;
  }

  .blur {
    filter: blur(5px);
  }

  .bg-image {
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    background-position: top center;
    background-size: cover;
    z-index: 0;
  }

  .img-fluid {
    max-width: 100%;
    height: auto;
  }

  .lead {
    font-size: 1.25em;
    font-weight: 300; }

  .event {
    font-size: 2em;
    padding: 3.5em 1.5em 1.5em 1.5em;
    margin-bottom: 1em;
  }
  .event .image {
    margin-top: 0.5em;
  }
  .event-future .subject h2 {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.1em;
    height: 1.1em;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
  }
  .event-future .time, .event-future .location {
    width: 50%;
    float: left;
    margin-bottom: 0.5em;
  }

  .container-background {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
    z-index: 2;
    position: relative;
    padding: 1em;
  }

  .lead {
    font-size: 1em;
    margin-bottom: 0.5em;
  }

  .logo {
    height: auto;
    max-height: 6%;
    position: absolute;
    bottom: 2.5%;
    right: 1%;
    z-index: 1;
  }

  .subject {
    h1 {
      font-size: 1.4em;
      font-weight: bold;
      line-height: 1.4em;
      margin-bottom: 0.8em;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  .time, .location, .description {
    p {
      font-size: 1em;
      margin-top: $space-vertical;
    }
  }

  .time, .location {
    font-weight: 600;
  }

  .lead p {
      font-weight: bold;
  }

  .description {
    p {
      line-height: 1.4em;
      max-height: 5em;
      width: 100%;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }

  .container-fluid.image {
    padding: 0;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
    margin-top: 15em;
    width: 100%;
    height: 30%;
  }

  .container-background {
    padding: 2em;
    max-height: 50%;
  }

  .date {
    position: absolute;
    top: -13%;
    left: 8%;
    width: 17%;
    height: auto;
  }
}
