$FontPathOpenSans: "fonts/open-sans";
@import "../../../../../../node_modules/npm-font-open-sans/open-sans.scss";
$font-open-sans: 'Open Sans', sans-serif;

$color-transperant-white: rgba(255, 255, 255, 0.9);
$color-box-shadow-black: rgba(black, 0.16);
$color-light-grey: rgb(220, 220, 220);
$color-grey: rgb(125, 125, 125);
$space-vertical: .5em;
$box-shadow: 0 0 16px $color-box-shadow-black;

.horizon-image-text {
  font-size: 16px;
  height: 100%;
  width: 100%;
  text-align: left;
  font-family: $font-open-sans;
  padding: 0;
  color: black;

  /* Bootstrap - modified to use % instead of px */

  h1, h2, p {
    padding: 0;
    margin: 0;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.7%;
    margin-left: -0.7%;
  }

  .col {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0.7%;
    padding-left: 0.7%;
  }

  .col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .img-fluid {
    max-width: 100%;
    height: auto;
  }

  .container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0.7%;
    padding-left: 0.7%;
  }

  /* Bootstrap end */


  .bg-image {
    background-color: $color-light-grey;
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    background-position: top center;
    background-size: cover;
    z-index: 0;
  }

  .img-fluid {
    width: 100%;
  }

  .front-image {
    background-color: $color-grey;
    margin-top: 2%;
    height: 78%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .blur {
    filter: blur(5px);
  }

  .container-fluid {
    z-index: 1;
    position: relative;
    padding: 0 11%;
    height: 100%;

    .row {
      height: 100%;
      position: relative;
      .col {
        padding-left: 0;
        padding-right: 0;
      }
      &.image {
        z-index: 1;
        .arrow {
          width: 100%;
          position: absolute;
          &-up {
            bottom: 21.95%;
          }
        }
      }
      &.text {
        position: relative;
        bottom: 22%;
        z-index: 1;
        background: #fff;
        height: 20%;

        .subject {
          padding-top: 1.2%;
          margin: 0 4.2%;

          h1 {
            height: auto;
          }
        }
        .line {
          width: 7%;
          height: 2%;
          background-color: #ccc;
          display: block;
          margin: 1.5% 0 0 4.2%;
        }
        .description {
          padding-top: 1.5%;
          padding-bottom: 1.5%;
          margin: 0 4.2% 0 4.2%;
        }
      }
    }
  }

  .container-background {
    background-color: $color-transperant-white;
    box-shadow: 0 0 16px $color-box-shadow-black;
    z-index: 1;
    position: relative;
    padding: 1em;
  }

  .lead {
    font-size: 1em;
    margin-bottom: $space-vertical;
  }

  .logo {
    height: auto;
    max-width: 7.5%;
    position: absolute;
    bottom: 1em;
    right: 1em;
    z-index: 1;
  }

  .subject {
    h1 {
      font-size: 2em;
      font-weight: bold;
      line-height: 2em;
      height: 6em;

      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }

  .time, .location, .description {
    p {
      font-size: 1em;
      margin-top: $space-vertical;
    }
  }

  .description {
    p {
      line-height: 1.4em;
      max-height: 2.8em;
      width: 100%;

      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}
